
body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.header-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
